body{
    .safil{
        display: flex;
        flex-direction: column;
        width: 100%;
         .div-title{
                margin: 1em 0;
            h1,p{
                margin: .2em;
            }
        }
        .choix{
            .choix-premier{
                background-color: #ffffff;
                margin-top: 1em;
                margin-bottom: 1em; 
                padding: .2em;
                display: flex;
                flex-direction: row;
                .fa-map-marker-alt{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 3em;
                    height: 3em;
                }
               .fasear{
                display: none;
                background-color: #0065FC;
                width: 3em;
                height: 3em;
                border-radius: .7em;
                border: none;
                font-size: 1em;
                align-items: center;
                justify-content: center;
                color: white;
                }
                input{
                        font-size: 1.2em;
                        text-align: center;
                        line-height: 1em;
                        border: .1em solid transparent;
                    }
                .bouton {
                    display: flex;
                    border: .1em solid transparent;
                    font-size: 1em;
                    color: white;
                    background-color: blue;
                    border-top-right-radius: 1em;
                    border-bottom-right-radius: 1em;
                    text-align: center;
                    align-items: center;
                    cursor: pointer;
                    padding: .2em .7em;
                    margin-left: -1px;
                }
            }
            .choix-deuxieme{
                display: flex;
                align-items: center;
                // width: 80%;
                .mes-li-container{
                    display: flex;
                    justify-content: flex-start;
                    font-size: 1.1em;
                    list-style-type: none;
                    i{
                        color: #0065FC;
                        margin-right: .5em;
                    }
                    input{display: none;}
                }
                .unit-filtre{
                    border: #d9d9d9 solid 1px;
                    border-radius: 1em;
                    padding: .2em .4em;
                    margin: 0 .5em;
                    label{
                         color: black;
                         font-family: cursive;
                         font-size: 1em;
                         line-height: 2em;
                         padding: .4em 1em .6em 1em;
                         border-radius: 1.2em;
                         margin: 0 -.6em;
                         border: .1em solid #d9d9d9;
                         i{margin-right: 1em;
                        }
                        
                    }
                }
                 input[type=checkbox]:checked ~ label{
                     background-color: #deebff;
                    }

            }
        }
        .logement-info{
            p{
                display: flex;
                .fa-info{
                    margin-right: 1em;
                    margin-left: .5em;
                    width: 1.5em;
                    height: 1.5em;
                    border: #d9d9d9 solid 1px;
                    background-color: #F2F2F2;
                    border-radius: 50%;
                    color: #0065FC;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                span{display: flex;
                    align-items: center;}
            }
        }
    }
}
      

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .choix-deuxieme{
        display: flex;
    }
    .mes-li-container{
        font-size: .9em;
        i{margin-right: .3em;}
        .unit-filtre{
            padding: .1em .2em;
            font-size: .7em;
        }
    }
}

/* En dessous de TABLETTES donc les mobiles */
@media screen and (max-width: 767px) {
    .safil{
        h1{
            font-size: 1.4em;
        };
        .choix{
            
            .choix-deuxieme{
                display: flex;
                flex-direction: column;
                .label-filtre{
                    width: 100%;
                    text-align: left;
                }
                .mes-li-container{
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    .unit-filtre{
                        margin-bottom: 1em; 
                        font-size: .9em;
                  }
                    }
                }

        
    }


        .choix-premier{
            i{display: flex;}
            
            .button {
                display: none;
            }
        }
    }
}
 
                   