.heberComp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16em;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 1.2em;
    box-shadow: .2em .3em .2em #d9d9d9;
    background-color: #f2f2f2;
    border: #fff solid .2em;
    .divImg{
        width: 100%;
    .imgCard{
        height: 9em;
        border-top-right-radius: 1.2em;
        border-top-left-radius: 1.2em;
        object-fit: cover;
        width: 99%;}
    }
    .divText{
         display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        margin-left: .5em;
        h2{font-size: 1.1em;
            margin: .2em;
        }
        h3{font-size: .9em;
            margin-top: .2em;
        }
        .rating{
            margin-bottom: .5em;
        }
    }
}


@media screen and (max-width: 767px) {
    .heberComp{
        width: 100%;
        border-bottom: 1em;
    }
}
