
body{
    background-color: #FFF;
}
.div-accueil{
    width: 100%;
    display: flex;
    flex-direction: column;
    .hebPop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #F2f2f2;
    }

    .hebPop .heb{
        width: 69%;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 2em;
        .afficherPlus{
            font-size: 1.2em;
            padding-left: 1em;
        }
        .afficherPlus:hover{
            color: #d9d9d9;
            cursor: pointer;
        }
            
        .hebCardsContainer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .hebPop .pop{
        display: flex;
        flex-direction: column;
        width: 29%;
        h2{
            display: flex;
            justify-content: space-between;
            margin-right: .5em;
            .fa-chart-line{
                color: #0065fc;
            }
        }
        .popCardsContainer{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .act{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1.5em;
        
        .actContainerAccueil{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: auto;
        }
        
        h3{
            margin: 1em 0;
        }
    }
}      

// version tablette
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .div-accueil{
        width: 100%;
        .hebPop{
            display: flex;
            flex-direction: column;
            margin: 1em auto;
            width: 100%;
            // div de hebpop
            .heb, .pop{
                width: 100%;
                margin: 5px auto;
            }
            .heb .hebCardsContainer{
                width: 100%;
            }
            .pop .popCardsContainer{
                width: 100%;
                flex-direction: row;
            }
        }
    }
}
        
        /* En dessous de TABLETTES donc les mobiles */
@media screen and (max-width: 768px) {
    .div-accueil{

        width: 100%;
        .hebPop{
            border: 10px solid black;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            .pop, .heb{
                display: block;
                width: 100%;
            }
        }
    }
   .act{
       width: 100%;
       height: auto;

       h3{font-size: .8em;}
       .actContainerAccueil{
           display: flex;
           flex-direction: column;
           width: 95%;
           margin-bottom: 3em;
        }
    }
}
/* orientation paysage et portrait sur petits écrans */
@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}
/* orientation portrait sur mobile */
@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}
