.div-activite{
    display: flex;
    flex-direction: column;
    .actCardsContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}